In [1]:
####pandas
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
###pandas uses
####data transformation
####data analysis
####data cleaning
###pandas notations:
####series--creating data
####DataFrame--for making the data in a particular tabular format

In [3]:
####series formate
import pandas as pd
internal_1={'s1':20,'s2':10,'s3':30}
internal_1=pd.Series(internal_1)
print(internal_1)
internal_2={'s1':25,'s2':28,'s3':28}
internal_2=pd.Series(internal_2)
print(internal_2)

s1    20
s2    10
s3    30
dtype: int64
s1    25
s2    28
s3    28
dtype: int64

In [4]:
###tabular formate
table={'Internal_1':internal_1,'Internal_2':internal_2}
table=pd.DataFrame(table)
print(table)

    Internal_1  Internal_2
s1          20          25
s2          10          28
s3          30          28

In [ ]:
### import pandas as pd
name={'s1':'jyo','s2':'jyosh','s3':'jyothsna'}
name=pd.Series(name)internal_1={'s1':20,'s2':10,'s3':30}
internal_1=pd.Series(internal_1)
print(internal_1)
internal_2={'s1':25,'s2':28,'s3':28}
internal_2=pd.Series(internal_2)
print(internal_2)

In [8]:
table={'Name':name,'subject_1':internal_1,'subject_2':internal_2}
table=pd.DataFrame(table)
print(table)

        Name  subject_1  subject_2
s1       jyo         20         25
s2     jyosh         10         28
s3  jyothsna         30         28

In [9]:
table.columns

Index(['Name', 'subject_1', 'subject_2'], dtype='object')

In [26]:
table.values

array([['jyo', 20, 25],
       ['jyosh', 10, 28],
       ['jyothsna', 30, 28],
       ['jy', 25, 25]], dtype=object)

In [11]:
table.values[2,0]

'jyothsna'

In [12]:
table.values[1]

array(['jyosh', 10, 28], dtype=object)

In [17]:
for i in table.values:
    print(i[0],i[1])

jyo 20
jyosh 10
jyothsna 30

In [18]:
table.loc['s0']=['jy',25,25]

In [22]:
table.drop('s0')

        Name  subject_1  subject_2
s1       jyo         20         25
s2     jyosh         10         28
s3  jyothsna         30         28

In [23]:
dir(table)

['Name',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subject_1',
 'subject_2',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [24]:
table.values[2]=['jy',24,23]

In [28]:
table.values

array([['jyo', 20, 25],
       ['jyosh', 10, 28],
       ['jyothsna', 30, 28],
       ['jy', 25, 25]], dtype=object)

In [3]:
####reading csv file
import pandas as pd
income=pd.read_csv('income.csv')
income

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [61]:
income.values[0][3]

37952

In [33]:
income.values[1][1]

'Alaska'

In [45]:
for i in income.values:
    print(i[1],":",i[9])

Alabama : 43464
Alaska : 63648
Arizona : 47044
Arkansas : 39018
California : 57020

In [38]:
s=0
for i in range(2,11):
    s+=income.values[2][i]
print(s)

424933

In [55]:
###average income of alaska in all years
s=c=0
for i in range(2,11):
    s=s+income.values[1][i]
    c=c+1
j=s/c
print(income.values[1][1],":",j)

9 540959
Alaska : 60106.555555555555

In [51]:
###average income of all states in 2012
s=c=0
for i in income.values:
    s=s+i[9]
    c=c+1
j=s/c
print("average of all states:",j)

average of all states: 50038.8

In [48]:
###create a function to print all columns in a single line
def columns():
    return income.columns
columns()

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [49]:
###create a function to access a row based on a unique column value
def rows(number):
    return income.values[number]
n=int(input())
rows(n)

2

array(['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
       48621, 47044, 50602], dtype=object)

In [73]:
###create a function to find average income of all states from 2005 from 2013
def avg_2005_to_2013():
    s=c=0
    for i in range(0,5):
        for j in range(3,11):
            s=s+income.values[i][j]
            c=c+1
        print(income.values[i][1],":",s/c)
avg_2005_to_2013()

Alabama : 41623.5
Alaska : 51128.5
Arizona : 49906.0
Arkansas : 47204.5625
California : 48923.625

In [89]:
###create a function to find the highest average income in the last three years
def avg_last_3_years():
    s=0
    l=[]
    for i in range(0,5):
        c=0
        for j in range(8,11):
            s=s+income.values[i][j]
            c=c+1
         l.append()
    print(l)
avg_last_3_years()

[]

In [4]:
###create a function to find the highest average income in the last three years
s1=s2=s3=c=0
for i in income.values:
    s1=s1+i[8]
    s2=s2+i[9]
    s3=s3+i[10]
    c=c+1
if(s1>s2 and s1>s3):
    print("Highest average income of- "+income.columns[8]+" is:",s1)
elif(s2>s1 and s2>s3):
    print("Highest average income of- "+income.columns[9]+" is:",s2)
else:
    print("Highest average income of- "+income.columns[10]+" is:",s3)

Highest average income of- 2013 is: 250567

In [5]:
###Create a function to find the lowest average income from 2007 to 2010(inclusive)
def fun5():
    s1=s2=s3=s4=c=0
    for i in income.values:
        s1+=i[4]
        s2+=i[5]
        s3+=i[6]
        s4+=i[7]
        c+=1
    if(s1<s2 and s1<s3 and s1<s4):
         print("Lowest average income of- "+income.columns[4]+" is:",s1)
    elif(s2<s1 and s2<s3 and s2<s4):
         print("Lowest average income of- "+income.columns[5]+" is:",s2)
    elif(s3<s1 and s3<s2 and s3<s4):
         print("Lowest average income of- "+income.columns[6]+" is:",s3)
    else:
         print("Lowest average income of- "+income.columns[7]+" is:",s4)
fun5()

Lowest average income of- 2010 is: 238547

In [6]:
####Print the list of all states in the same line with average income less than Calfornia
def fun6():
    n=[]
    m=[]
    for i in range(0,5):
        s=c=0
        for j in range(2,11):
            s=s+income.values[i][j]
            c+=1
        n.append(s//c)
    for i in n:
        if(i<n[-1]):
            m.append(income.values[n.index(i)][1])
    print(m)
fun6()

['Alabama', 'Arizona', 'Arkansas']

In [7]:
###Print the names of states based on desending order of their averages in the year 2009
b=[]
for i in range(0,5):
    b.append(income.values[i][-5])
b.sort(reverse=True)
print(b)

[61604, 56134, 45739, 39980, 36538]

In [ ]:
###State the lowest recorded income based from 2005 to 2013