In [1]:
#####pandas
import pandas as pd

In [8]:
names=['jyothsna','jyo','jyosh']
s=pd.Series(names)

In [14]:
s

0    jyothsna
1         jyo
2       jyosh
Name: Names, dtype: object

In [10]:
s.index###index value

RangeIndex(start=0, stop=3, step=1)

In [13]:
print(s.name)###series name

Names

In [12]:
s.name="Names"

In [15]:
import numpy as np
np.nan==None

False

In [16]:
np.nan==np.nan

False

In [25]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'teakwondo':'South korea'}
sp=pd.Series(sports)
sp

Archery           Bhutan
Golf            Scotland
Sumo               Japan
teakwondo    South korea
dtype: object

In [20]:
sp.index

Index(['Archery', 'Golf', 'Sumo', 'teakwondo'], dtype='object')

In [21]:
sp.values

array(['Bhutan', 'Scotland', 'Japan', 'South korea'], dtype=object)

In [22]:
###modifying index
s=pd.Series(['Jyo','Jyosh'],index=['name1','name2'])
s

name1      Jyo
name2    Jyosh
dtype: object

In [26]:
sp.iloc[3]###internal it uses iloc(based on index)

'South korea'

In [27]:
sp[3]

'South korea'

In [28]:
sp.loc['Sumo']##based on key

'Japan'

In [29]:
sport={90:'Bhutan',
       91:'Scotland',
       92:'Japan',
       93:'South korea'}
sp1=pd.Series(sport)
sp1

90         Bhutan
91       Scotland
92          Japan
93    South korea
dtype: object

In [31]:
sp1.iloc[0]

'Bhutan'

In [33]:
sp1.loc[90]

'Bhutan'

In [36]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [39]:
for i in s:
    print(i)

100.0
120.0
101.0
3.0

In [42]:
t=0
for i in s:
    t=t+i
print(t)

324.0

In [43]:
np.sum(s)

324.0

In [44]:
np.sum==t

False

In [45]:
s=pd.Series(np.random.randint(0,100,2000))
s.head()

0    60
1    98
2    19
3    22
4    93
dtype: int32

In [46]:
np.random.randint(0,100,2000)

array([87, 41, 98, ..., 41,  9,  6])

In [47]:
len(s)

2000

In [51]:
%%timeit -n 5
summ=0
for i in s:
    summ=summ+i

615 µs ± 181 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [52]:
%%timeit -n 5
summ=np.sum(s)

192 µs ± 39 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [53]:
s.head()

0    60
1    98
2    19
3    22
4    93
dtype: int32

In [54]:
s=s+2
s.head()

0     62
1    100
2     21
3     24
4     95
dtype: int32