In [156]:
#####LISTS COMPREHENSIONS
### multiples of 3 of 1 to 100
n=[]
for i in range(1,101):
    if(i%3==0):
        n1=n.append(i)
print(n1)

None

In [3]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
[each if each%2==0 else each+4 for each in range(1,11)]

[5, 2, 7, 4, 9, 6, 11, 8, 13, 10]

In [19]:
####filter data using list comprehension
students=[['jyo',71,1],['jyosh',30,2],['jyothsna',80,3]]
[students for students in students if students[1]>=60]

[['jyo', 71, 1], ['jyothsna', 80, 3]]

In [21]:
#####select students whose have backlocks below2
[students for students in students if ((students[1]>=60) and (students[2]<=1))]

[['jyo', 71, 1]]

In [24]:
####double for loop
english=[50,60,70]
maths=[30,40,30]

In [27]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [39]:
####x^2+y^2=z^2
[(x,y,z) for x in range(1,100) for y in range(x,100) for z in range(y,100) if(x**2+y**2==z**2) ]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

In [49]:
### two digits number using 0 and 1
[str(x)+str(y) for x in range(0,2) for y in range(0,2) ]

['00', '01', '10', '11']

In [46]:
### two digit numbers using 0-9
[(x,y) for x in range(0,10) for y in range(0,10)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [47]:
[str(x)+str(y) for x in range(0,10) for y in range(0,10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [53]:
####create a dictionary for squares={1;1,2:4,3:9,......}
squares={}
for i in range(1,11):
    squares[i]=i*i
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [54]:
###dictionary comprehension
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
{each:each*each for each in range(1,11) if each%2==0 }

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [58]:
{each:each*each if each%2==0 else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [79]:
names=['jyosh','hritika']
grades=['A','S']
{x:y for x in names for y in grades }
print(len(names))

2

In [78]:
student={}
for i in range(len(names)):
    name=names[i]
    grade=grades[i]
    student[name]=grade
print(student)

{'jyosh': 'A', 'hritika': 'S'}

In [80]:
for name,grade in zip(names,grades):
    print(name,grade)

jyosh A
hritika S

In [109]:
####sort the students based on english marks
###[name,english,maths]
students=[['jyo',30,40],['jyosh',89,89],['jyothsna',56,67]]
remove_index=1
for student in students:
    student.insert(0,student.pop(remove_index))
students.sort()
for student in students:
    student.insert(remove_index,student.pop(0))
print(students)

[['jyo', 30, 40], ['jyothsna', 56, 67], ['jyosh', 89, 89]]

In [116]:
###LAMBDA FUNCTION
###single line function 
## doesnot have return statement
##it doesnot have multiple return statement by using tuple or list we can
fun=lambda x:'hi'
fun('o')

'hi'

In [117]:
square=lambda x:x*x

In [118]:
square(3)

9

In [119]:
fun=lambda x:x[0]

In [120]:
a=[1,2,3,4]
fun(a)

1

In [125]:
students=[['jyo',130,40],['jyosh',9,89],['jyothsna',56,67]]
students.sort(key=lambda x:x[1])
students

[['jyosh', 9, 89], ['jyothsna', 56, 67], ['jyo', 130, 40]]

In [126]:
students.sort(key=lambda x:x[1]+x[2])
students

[['jyosh', 9, 89], ['jyothsna', 56, 67], ['jyo', 130, 40]]

In [131]:
#########MAP FUNCTION (map(function,collection))
numbers=['10','20','30']
result=[]
result=map(int,numbers)
print(list(result))

[10, 20, 30]

In [137]:
marks=['10','20','30']
r=(map(lambda x:int(x)+30,marks))
list(r)

[40, 50, 60]

In [138]:
####ALL FUNCTION
###it return true or false
###it returns true when all items are true
marks=[10,20,30,0]
all(marks)

False

In [140]:
###ANY FUNCTION 
### returns true when any one function is true
any(marks)

True

In [141]:
####FILTER FUNCTION
marks=[10,30,40,50,0,100]
m=filter(None,marks)
list(m)

[10, 30, 40, 50, 100]

In [150]:
students=[['jyo',10],['jyosh',30],['jyothsna',50]]
s=(filter(lambda x:int(x[1])<=30,students))
list(s)

[['jyo', 10], ['jyosh', 30]]

In [151]:
students=[['jyo',{'maths':30,'english':50}],
          ['jyosh',{'english':100,'maths':100}],
          ['jyothsna',{'maths':50,'english':40}]
         ]
students.sort(key=lambda x:x[1]['maths'])
students

[['jyo', {'maths': 30, 'english': 50}],
 ['jyothsna', {'maths': 50, 'english': 40}],
 ['jyosh', {'english': 100, 'maths': 100}]]